# Data Science Tools and Ecosystem

this is an intoduction to data science tools.

# Some popular languages used in data science :
1. Python
2. R
3. SQL

# some popular libraries used in python : 
1. NumPy
2. Pandas
3. Matplotlib
4. Scikit-learn
5. TensorFlow

# this is a table contain some data science tools:
| Tool           | Description                                         |
|----------------|-----------------------------------------------------|
| Jupyter        | Interactive computing environment                   |
| RStudio        | IDE for R                                           |
| Apache Spark   | Cluster-computing framework                         |
| TensorFlow     | Machine learning library                            |

In this section, I will demonstrate some basic arithmetic expressions.

In [8]:
a = 4
b = 5
x = a+b
y = a*b
print(x)
print(y)

9
20

In [1]:
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

# The objectives of this notebook are:
- Understand the key programming languages used in data science
- Familiarize with important data science libraries
- Learn about various data science tools
- Practice basic arithmetic operations in Python


# Author 
Aymane AIT OUAZIZI